body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#progressContainer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

progress {
    width: 100%;
    height: 20px;
    margin-right: 10px;
}

#downloadButton {
    margin-top: 20px;
}
